.banner-image{
    width: 100%;
}
ngb-carousel{
    box-shadow: 0 2px #f4f4f4;
}

::ng-deep.carousel-indicators{
    bottom: -20px;
}

@media (max-width: 576px){
    .container, .container-sm {
        max-width: 100%;
    }
}