<div class="container mt-4">
  <ngb-carousel 
    *ngIf="banners"
    [interval]="3000"
    [keyboard]="true"
    [wrap]="true">
    <ng-template ngbSlide *ngFor="let banner of banners">
      <img class="banner-image" src="assets{{banner.bannerImageUrl}}" alt="{{banner.bannerImageAlt}}" loading="lazy">
    </ng-template>
  </ngb-carousel>
  <div class="categories">
    <div class="d-flex align-items-start" *ngFor="let category of categories; let i=index">
      <div class="w-100 d-flex align-items-center" *ngIf="i%2===0" [@startItems]>
        <img src="assets{{category.imageUrl}}" width="200" height="200" alt="{{category.key}}" loading="lazy">
        <div class="d-flex flex-column m-2 align-items-center flex-grow-1">
          <h3>{{category.name}}</h3>
          <p>{{category.description}}</p>
          <button class="btn btn-pink align-self-center" type="button" role="button" (click)="exploreCategory(category.id)">Explore
              {{category.key}}</button>
        </div>
      </div>

      <div class="w-100 d-flex align-items-center" *ngIf="i%2!==0" [@centerItems]>
        <div class="d-flex flex-column m-2 align-items-center flex-grow-1">
            <h3>{{category.name}}</h3>
            <p>{{category.description}}</p>
            <button class="btn btn-pink align-self-center" type="button" role="button" (click)="exploreCategory(category.id)">Explore
                {{category.key}}</button>
        </div>
        <img src="assets{{category.imageUrl}}" width="200" height="200" alt="{{category.key}}" loading="lazy">
      </div>
    </div>
  </div>
</div>